.groupedTasks_wrapper {
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: #ffffff;
  border: 1px solid var(--border-color);
}

.groupedTasks_header {
  padding: 1rem;
}

.groupedTasks_title {
  padding-bottom: 0.5rem;
}
